.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 background-color: $color-background;
  text-align: center;
  height: auto;
  min-height: 30px;
  padding: 15px;
  &__credits{
font-size: 13px;

    a{
      text-decoration: none;
      color: $color-font-base;
      font-weight: 500;
      transition: .2s;
      &:hover{
        color: $color-font-highlighted
      }
    }
  }
}